<!-- <p>changepassword works!</p> -->

<div class="bread-crumb-bar">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><img src="assets/img/home-icon.svg"
                                        alt="Post Author"> Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">User</li>
                            <li class="breadcrumb-item" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4 theiaStickySidebar">
                <app-dashboard-sidebar></app-dashboard-sidebar>
            </div>
            <div class="col-xl-9 col-md-8">
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/userprofile">Basic Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/changepassword">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/deleteaccount">Contract Termination</a>
                        </li>
                    </ul>
                </nav>

                <div class="account-content setting-content">
                    <div class="card">
                        <div class="pro-head">
                            <h3 class="pro-title without-border mb-0">Change Password</h3>
                        </div>
                        <div class="pro-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form action="https://kofejob.dreamguystech.com/template/dashboard.html">
                                        <div class="form-group">
                                            <label>Old Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn bg-success text-white"
                                                    type="submit">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>