<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
</div>
<div class="bread-crumb-bar">
    <div class="container">
        <!-- <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><img src="assets/img/home-icon.svg"
                                        alt="Post Author"> Home</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a routerLink="/ourProducts">Our
                                    Products</a></li>
                            <li class="breadcrumb-item" aria-current="page">Order Confirmation</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center">Bestellübersicht</h1>
    <div class="row">
        <div class="ordered-products col-12 col-md-6 col-lg-6 overflow-auto">
            <h3 class="bg-warning p-3">Bestellte Produkte</h3>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="product_details" style="width: 18rem;">
                    <img class="card-img-top" [src]="fileUrl  + '/uploads/products/' + product.product_img"
                        alt="Card image cap">
                    <div class="mt-2">
                        <p class="text-center text-dark">{{ product.product_name }}</p>
                    </div>
                </div>
            </div>
            <a routerLink="/ourProducts" class="btn btn-warning w-100">Entdecken Sie mehr <i
                    class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="order-form col-12 col-md-6 col-lg-6 overflow-auto">
            <h3 class="bg-warning p-3">Auftragsbestätigung</h3>
            <div class="p-3">
                <div class="container">
                    <div class="row text-dark">
                        <div>
                            <p style="font-size: 16px;"><i class="fa-solid fa-user"></i> {{ userData.username }}</p>
                            <p style="font-size: 16px;"><i class="fa-solid fa-envelope"></i> {{ userData.email }}</p>
                            <p style="font-size: 16px;"><i class="fa-solid fa-phone"></i> {{ userData.phone }}</p>
                            <p style="font-size: 16px;"><i class="fa-solid fa-location-dot"></i> {{ userData.street }}
                                {{ userData.address }}, {{ userData.zipcode }},{{ userData.ort }}</p>
                        </div>
                    </div>
                </div>

                <form *ngIf="isLogin" [formGroup]="SampleOrderForm" (ngSubmit)="confirmOrder()">

                    <div>
                        <input #zipcodeInput type="number" class="p-2 mt-2 rounded border border-warning w-100"
                            placeholder="PLZ widerholen" formControlName="zipcode" />

                        <div class="error text-danger"
                            *ngIf="SampleOrderForm.get('zipcode')?.invalid && SampleOrderForm.get('zipcode')?.touched">
                            Bitte geben Sie Ihre Postleitzahl ein.
                        </div>
                    </div>

                    <div>
                        <textarea formControlName="instruction" rows="2"
                            class="p-2 mt-2 rounded border border-warning w-100"
                            placeholder="Bitte geben Sie einen Sicheren Abstellort an (Optional)"></textarea>
                        <!-- <div class="text-danger">Bitte geben Sie einen Hinweis zu Ihrer Bestellung an.</div> -->
                    </div>

                    <div>
                        <input type="date" formControlName="delivery_date"
                            class="p-2 mt-2 rounded border border-warning w-100" [min]="minDate"
                            (change)="validateDate($event)">

                        <div class="error text-danger"
                            *ngIf="SampleOrderForm.get('delivery_date')?.hasError('afterFriday4pm')">
                            Sie können montags bis freitags bestellen, freitags bis 16 Uhr.

                        </div>
                        <!-- Error for invalid delivery dates -->
                        <div class="error text-danger"
                            *ngIf="SampleOrderForm.get('delivery_date')?.hasError('publicHoliday')">
                            Wir liefern Probelieferungen nur am Wochenende und nicht an Feiertagen.
                        </div>

                        <div class="text-danger"
                            *ngIf="!SampleOrderForm.get('delivery_date')?.hasError('publicHoliday')">
                            Bitte beachten Sie: Die Lieferung erfolgt nur samstags
                            <!-- und Feiertagen!!! -->
                        </div>
                        <br>

                        <br>
                        <button type="submit" [disabled]="SampleOrderForm.invalid"
                            class="p-2 rounded btn btn-warning w-100">Jetzt gratis anfordern</button>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    </div>
</div>