<div class="main-wrapper">
  <div class="bread-crumb-bar">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/embedded-payment">Embedded Payment</a></li>
      </ul>
    </div>
  </div>

  <div class="payment-iframe-container">
    <div class="success-container">
      <h2>✅ Dauerbestellung über PayPal eingerichtet</h2>
      <p> Hiermit bestätigen wir Ihnen die erfolgreiche Einrichtung einer Dauerbestellung via PayPal</p>
      <a routerLink="/subscribe-order-dashboard" class="go-dashboard-btn">Zu meinem Konto</a>
    </div>
  </div>
</div>
