<div class="bread-crumb-bar">
    <div class="container">
        <!-- <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                       
                    </nav>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="success-container">
    <img
      src="https://png.pngtree.com/png-vector/20191104/ourmid/pngtree-checkmark-icon-green-color-png-image_1952984.jpg"
      alt="Success Tick Mark"
      class="success-img"
    />
    <h3>Transaktion erfolgreich</h3>
    <p>Ihre Zahlung wurde erfolgreich verarbeitet.</p>
    <a routerLink="/manageOrders" class="btn">Gehen Sie zu „Meine Bestellung“</a>
  </div>
  <br><br>
  <app-footer></app-footer>
  