<!-- <p>ongoingjobs works!</p> -->
<div class="main-wrapper">
    
    <div class="bread-crumb-bar">
    <div class="container">
    <div class="row align-items-center inner-banner">
    <div class="col-md-12 col-12 text-center">
    <div class="breadcrumb-list">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html"><img src="assets/img/home-icon.svg" alt="Post Author"> Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Employee</li>
    <li class="breadcrumb-item" aria-current="page">Projects</li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="content content-page">
    <div class="container-fluid">
    <div class="row">
    
    <div class="col-xl-3 col-md-4 theiaStickySidebar">
    <div class="settings-widget">
    <div class="settings-header d-sm-flex flex-row flex-wrap text-center text-sm-start align-items-center">
    <a href="user-account-details.html"><img alt="profile image" src="assets/img/img-04.jpg" class="avatar-lg rounded-circle"></a>
    <div class="ms-sm-3 ms-md-0 ms-lg-3 mt-2 mt-sm-0 mt-md-2 mt-lg-0">
    <p class="mb-2">Welcome,</p>
    <a href="user-account-details.html"><h3 class="mb-0">John Danie S.</h3></a>
    <p class="mb-0">@johndaniee</p>
    </div>
    </div>
    <div class="settings-menu">
        <ul>
            <li class="nav-item">
            <a routerLink="/userdashboard" class="nav-link ">
            <i class="material-icons">verified_user</i> Dashboard
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/managejobs" class="nav-link">
            <i class="material-icons">business_center</i>Jobs
            </a>
            </li>
            <!-- <li class="nav-item">
            <a href="favourites.html" class="nav-link">
            <i class="material-icons">local_play</i> Favourites
            </a>
            </li>
            <li class="nav-item">
            <a href="review.html" class="nav-link">
            <i class="material-icons">record_voice_over</i> Reviews
            </a>
            </li>
            <li class="nav-item">
            <a href="chats.html" class="nav-link">
            <i class="material-icons">chat</i> Messages
            </a>
            </li>
            <li class="nav-item">
            <a href="membership-plans.html" class="nav-link">
            <i class="material-icons">person_add</i> Membership
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="" class="nav-link">
            <i class="material-icons">pie_chart</i> Milestones
            </a>
            </li>
            <li class="nav-item">
            <a routerLink="/verifyidentity" class="nav-link">
            <i class="material-icons">person_pin</i> Verify Identity
            </a>
            </li>
            <li class="nav-item">
            <a href="deposit-funds.html" class="nav-link">
            <i class="material-icons">wifi_tethering</i> Payments
            </a>
            </li> -->
            <li class="nav-item">
            <a routerLink="/userprofile" class="nav-link">
            <i class="material-icons">settings</i> Settings
            </a>
            </li>
            <li class="nav-item">
            <a href="index.html" class="nav-link">
            <i class="material-icons">power_settings_new</i> Logout
            </a>
            </li>
            </ul>
    </div>
    </div>
    </div>
    
    <div class="col-xl-9 col-md-8">
    <div class="page-title">
    <h3>Manage Projects</h3>
    </div>
    <nav class="user-tabs project-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
        <a class="nav-link active" routerLink="/managejobs">All Jobs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/pendingjobs">Pending Jobs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/ongoingjobs">Ongoing Jobs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/completedjobs">Completed Jobs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/cancelledjobs">Cancelled Jobs</a>
        </li>
        </ul>
        </nav>
    
    <div class="my-projects-list">
    <div class="row">
    <div class="col-lg-10 flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body">
    <div class="projects-details align-items-center">
    <div class="project-info">
    <span>Dreamguystech</span>
    <h2>Website Designer Required For Directory Theme</h2>
    <div class="customer-info">
    <ul class="list-details">
    <li>
    <div class="slot">
    <p>Price type</p>
    <h5>Fixed</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Location</p>
    <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Expiry</p>
    <h5>4 Days Left</h5>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="project-hire-info">
    <div class="content-divider"></div>
    <div class="projects-amount">
    <h3>$500.00</h3>
    <h5>in 12 Days</h5>
    </div>
    <div class="content-divider"></div>
    <div class="projects-action text-center">
    <a href="view-project-detail.html" class="projects-btn">View Details </a>
    <a href="#" class="hired-detail">Hired on 19 JUN 2021</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 d-flex flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body p-2">
    <div class="prj-proposal-count text-center hired">
    <h3>Hired</h3>
    <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid">
    <p class="mb-0">Hannah Finn</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="my-projects-list">
    <div class="row">
    <div class="col-lg-10 flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body">
    <div class="projects-details align-items-center">
    <div class="project-info">
    <span>Dreamguystech</span>
    <h2>Landing Page Redesign / Sales Page Redesign (Not Entire Web)</h2>
    <div class="customer-info">
    <ul class="list-details">
    <li>
    <div class="slot">
    <p>Price type</p>
    <h5>Fixed</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Location</p>
    <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Expiry</p>
    <h5>4 Days Left</h5>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="project-hire-info">
    <div class="content-divider"></div>
    <div class="projects-amount">
    <h3>$500.00</h3>
    <h5>in 12 Days</h5>
    </div>
    <div class="content-divider"></div>
    <div class="projects-action text-center">
    <a href="view-project-detail.html" class="projects-btn">View Details </a>
    <a href="#" class="hired-detail">Hired on 19 JUN 2021</a>
    </div>
    </div>
    </div>
    </div>
    </div>
     </div>
    <div class="col-lg-2 d-flex flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body p-2">
    <div class="prj-proposal-count text-center hired">
    <h3>Hired</h3>
    <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid">
    <p class="mb-0">Hannah Finn</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="my-projects-list">
    <div class="row">
    <div class="col-lg-10 flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body">
    <div class="projects-details align-items-center">
    <div class="project-info">
    <span>Dreamguystech</span>
    <h2>WooCommerce Product Page Back Up Restoration</h2>
    <div class="customer-info">
    <ul class="list-details">
    <li>
    <div class="slot">
    <p>Price type</p>
    <h5>Fixed</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Location</p>
    <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Expiry</p>
    <h5>4 Days Left</h5>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="project-hire-info">
    <div class="content-divider"></div>
    <div class="projects-amount">
    <h3>$500.00</h3>
    <h5>in 12 Days</h5>
    </div>
    <div class="content-divider"></div>
    <div class="projects-action text-center">
    <a href="view-project-detail.html" class="projects-btn">View Details </a>
    <a href="#" class="hired-detail">Hired on 19 JUN 2021</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 d-flex flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body p-2">
    <div class="prj-proposal-count text-center hired">
    <h3>Hired</h3>
    <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid">
    <p class="mb-0">Hannah Finn</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="my-projects-list">
    <div class="row">
    <div class="col-lg-10 flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body">
    <div class="projects-details align-items-center">
    <div class="project-info">
    <span>Dreamguystech</span>
    <h2>PHP Laravel Developer Required (Contractual Employement)</h2>
    <div class="customer-info">
    <ul class="list-details">
    <li>
    <div class="slot">
    <p>Price type</p>
    <h5>Fixed</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Location</p>
    <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Expiry</p>
    <h5>4 Days Left</h5>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="project-hire-info">
    <div class="content-divider"></div>
    <div class="projects-amount">
    <h3>$500.00</h3>
    <h5>in 12 Days</h5>
    </div>
    <div class="content-divider"></div>
    <div class="projects-action text-center">
    <a href="view-project-detail.html" class="projects-btn">View Details </a>
    <a href="#" class="hired-detail">Hired on 19 JUN 2021</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 d-flex flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body p-2">
    <div class="prj-proposal-count text-center hired">
    <h3>Hired</h3>
    <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid">
    <p class="mb-0">Hannah Finn</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="my-projects-list">
    <div class="row">
    <div class="col-lg-10 flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body">
    <div class="projects-details align-items-center">
    <div class="project-info">
    <span>Dreamguystech</span>
    <h2>Laravel Backend Developer to finish ongoing project</h2>
    <div class="customer-info">
    <ul class="list-details">
    <li>
    <div class="slot">
    <p>Price type</p>
    <h5>Fixed</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Location</p>
    <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
    </div>
    </li>
    <li>
    <div class="slot">
    <p>Expiry</p>
    <h5>4 Days Left</h5>
    </div>
    </li>
    </ul>
    </div>
    </div>
    <div class="project-hire-info">
    <div class="content-divider"></div>
    <div class="projects-amount">
    <h3>$500.00</h3>
    <h5>in 12 Days</h5>
    </div>
    <div class="content-divider"></div>
    <div class="projects-action text-center">
    <a href="view-project-detail.html" class="projects-btn">View Details </a>
    <a href="#" class="hired-detail">Hired on 19 JUN 2021</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 d-flex flex-wrap">
    <div class="projects-card flex-fill">
    <div class="card-body p-2">
    <div class="prj-proposal-count text-center hired">
    <h3>Hired</h3>
    <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid">
    <p class="mb-0">Hannah Finn</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-md-12">
    <ul class="paginations list-pagination">
    <li class="page-item"><a href="#">Vorherige</a></li>
    <li class="page-item"><a href="#" class="active">1</a></li>
    <li class="page-item"><a href="#">Nächste</a></li>
    </ul>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
